.main-container {
    text-align: center;
    margin-bottom: 50px;
  }

input {
    border-radius: 10px;
    border-color: var(--light-color);
    width: 300px;
    height: 30px;
    margin: 20px;
    font-size: 20px;
  }

  .fav-button {
    background-color: var(--main-color);
    border: none;
    border-radius: 20px;
    width: 170px;
    height: 40px;
    color: white;
    font-weight: 700;
  }